body {
    background-color: bisque;


#meista {
    position: fixed;
    top: 10px;
    right: 10px;

}
#otayhteytta {
    position: fixed;
    top: 10px;
    right: 3000px;

}
#tilaasiivous {
    position: fixed;
    top: 10px;
    right: 6000px;

}
}